fastapi[testclient]
httpx
joblib
pytest
spacy
uvicorn

pandas
numpy
matplotlib
seaborn
scikit-learn
scikit-multilearn
scipy
keras
tensorflow
tensorflow_addons
transformers
nltk
gensim
openai
python-dotenv